a {
  text-decoration: none !important;
}
a:hover {
  color: none;
}

.spnan-nav {
  margin-left: 10px;
}

.spnan-nav-drop {
  margin-left: 6px;
}

.aaa {
  position: relative;
}
.aaa::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 8px;
  right: -166px;
  width: 11px;
  height: 11px;
  margin: 0 auto;
  border: solid 5px transparent;
  border-bottom-color: #fff;
}

.layer {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.list-group {
  --bs-list-group-action-hover-color: none;
  --bs-list-group-action-hover-bg: none;
  --bs-list-group-bg: transparent;
}

.list-group-item {
  color: #484848;
  text-decoration: none;
  background-color: transparent;
}

.list-group-item-action:hover {
  color: #484848;
}

.log-in {
  margin-left: 2px;
  color: #efefef;
}

.log-in-2 {
  color: #efefef;
  font-size: 18px;
  line-height: 20px;
}

.log-in-3 {
  padding: 10px 9px;
  background-color: #205a23;
  border: 1px solid #efefef;
  margin: 9px 18px;
  transition: all 0.5s ease;
}
.log-in-3:hover {
  background-color: #28832c;
}

.nav-in-3 {
  padding: 13px 15px;
  transition: all 0.5s ease;
}
.nav-in-3:hover {
  background-color: #28832c;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: rgba(242, 242, 242, 0.9490196078);
}
body .hsoub-header {
  background-color: #205a23;
}
body .hsoub-header .navbar {
  background-color: #205a23 !important;
}
body .hsoub-header .navbar .fa-bars {
  cursor: pointer;
  color: #efefef;
  font-size: 25px;
}
body .hsoub-header .navbar img {
  width: 40px;
  height: 40px;
}
body .hsoub-header .navbar .nav-link {
  color: #efefef !important;
  font-size: 18px;
  line-height: 20px;
}
body .hsoub-header .navbar .search-icon-cla {
  margin-left: 18px;
}
body .hsoub-header .navbar .search-icon-cla .search-icon {
  cursor: pointer;
  color: #efefef;
  font-size: 20px;
  transition: all 0.5s ease;
  padding: 20px 18px;
}
body .hsoub-header .navbar .search-icon-cla .search-icon:hover {
  background-color: #28832c;
}
body .sidbar .sidbar-1 {
  position: fixed;
  z-index: 4;
  right: -15rem;
  transition: all 0.5s ease-in-out;
  background-color: #efefef;
  overflow: hidden;
  box-shadow: -1px 0 10px 2px rgba(0, 0, 0, 0.5);
}
body .search-input {
  height: 60px;
  padding: 2px 6px;
  margin: 0;
  width: 100%;
  background-color: #efefef;
  font-size: 18px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  z-index: 1;
  top: 85px;
  display: none;
}
body .search-input:focus {
  background-color: #fff;
}
body .search-input::placeholder {
  padding-right: 20px;
}
body .main .main-con {
  background-color: #fff;
  margin-top: 80px;
}
body .main .main-con h1 {
  margin-top: 4rem;
  margin-bottom: 0;
  padding: 0;
  font-size: 2em;
  color: #205A23;
  text-align: center;
}
body .main .main-con h4 {
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}
body .main .main-con .input-body {
  margin: auto;
  border: 2px solid #205A23;
  padding: 10px;
  margin-top: 50px;
}
body .main .main-con .content {
  margin-top: 80px;
  margin-inline: 15px;
}
body .main .main-con .content .box {
  text-align: center;
  font-size: 1.6em;
  background: #205a23;
  margin-bottom: 0;
  margin-top: 0;
}
body .main .main-con .content .box p {
  padding: 1.6em 0;
  color: #fff;
}

/* jQ bars toggler */
#wrap.toggled .sidbar-1 {
  right: 0rem;
}

@media (max-width: 997px) {
  .none-nav {
    display: none;
  }
}
@media (max-width: 732px) {
  .none-nav-2 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
