@import "./varibale";
@import "./class.scss";



body {
     font-family: "Noto Kufi Arabic", sans-serif;
     background-color: #f2f2f2f2;
     .hsoub-header {
          background-color: $main-color ;
          .navbar {
               background-color: $main-color !important;
               .fa-bars {
                    cursor: pointer;
                    color: $text-nav;
                    font-size: 25px;
               }
               img {
                    width: 40px;
                    height: 40px;
               }
               .nav-link {
                    color: $text-nav !important;
                    font-size: 18px;
                    line-height: 20px;
               }
               .search-icon-cla{
                    margin-left: 18px;
                    .search-icon{
                         cursor: pointer;
                         color: $text-nav;
                         font-size: 20px;
                         transition: all 0.5s ease;
                         padding: 20px 18px;
                         &:hover {
                              background-color: $hover-nav;
                         }
                    }
               }
          }
     }
     .sidbar{
         
          .sidbar-1{
               position: fixed;
               z-index: 4;
               right: -17rem;
               transition: all 0.5s ease-in-out;
               background-color: $text-nav;
               overflow: hidden;
               box-shadow: -1px 0 10px 2px rgba(0, 0, 0, 0.5);
          }
     }
.search-input {
     height: 60px;
     padding: 2px 6px;
     margin: 0;
     width: 100%;
     background-color: $text-nav;
     font-size: 18px;
     border: 0;
     border-radius: 0;
    box-shadow: none;
    outline: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    position: absolute;
    z-index: 1;
    top: 85px;
    display: none;
    &:focus {
     background-color: $waite-color
    }
    &::placeholder {
     padding-right: 20px;
    }
}
.main {
     .main-con{
          background-color: $waite-color;
          margin-top: 80px;
          h1 {
               margin-top: 4rem;
               margin-bottom: 0;
               padding: 0;
               font-size: 2em;
               color: #205A23;
               text-align: center;
          }
          h4 {
               font-size: 1.2rem;
               margin-top: 2rem;
               text-align: center;
          }
          .input-body {
               margin: auto;
               border: 2px solid #205A23;
               padding: 10px;
               margin-top: 50px;
          }
          .content {
               margin-top: 80px;
               margin-inline: 15px;
               .box {
                    text-align: center;
                    font-size: 1.6em;
                     background: #205a23;
                    margin-bottom: 0;
                     margin-top: 0;
                     p{
                         padding: 1.6em 0;
                         color: $waite-color;
                     }
               }
          }
          .title-cours {
               margin-block: 20px;
               padding-top: 20px;
               border-bottom: 1px solid #cececf;
               margin-inline: 15px;
               h1 {
                    font-size: 19px;
                    line-height: 2em;
               }
          }
          .img-cours {
               margin: 16px;
               img {
                    height: auto;
                    max-width: 100%
               }
          }
          }
     .mw-footer {
          margin-top: 50px;
          h5 {
               font-size: 13px;
               line-height: 20px;
               span{
                    color: #0645ad;;
               }
          }
          ul {
               padding-right: 0px !important;
               .list-inline-item {
                    font-size: 13px;
                    color: #0645ad;
                    margin-right: 8px;
                    &:first-child {
                         margin-right: 0px !important;
                    }
                    
               }
          }
     }
     }
}
footer{
     padding-block: 50px;
     background-color: $waite-color;
     .img-footer{
          margin-block: 20px;
          img{
               width: 100%;
               height: 50px;
          }
     }
     .m-footer {
          margin-bottom: 30px;
          &:last-child{
               margin-bottom: 0;
          }
          .footer-conten{
               h2 {
                    font-size: 12px;
                    line-height: 0.5em;
                    padding: 8px 0;
                    margin: 0;
                    color: #111;;
               }
               p {
                    color: #777;
                    font-size: 11px;
                    line-height: 1.4em;
                    padding: 2px 0;
                    margin: 0;
               }
          }
     }
}

/* jQ bars toggler */
#wrap.toggled .sidbar-1 {
     right: 0rem;
}


@media (max-width: 997px) {
     .none-nav{
          display: none;
     }
}
@media (max-width: 732px) {
     .none-nav-2{
          display: none;
     }
}
