@import "./varibale";
@import "./class.scss";


body {
     font-family: "Noto Kufi Arabic", sans-serif;
     background-color: #f2f2f2f2;
     .hsoub-header {
          background-color: $main-color ;
          .navbar {
               background-color: $main-color !important;
               .fa-bars {
                    cursor: pointer;
                    color: $text-nav;
                    font-size: 25px;
               }
               img {
                    width: 40px;
                    height: 40px;
               }
               .nav-link {
                    color: $text-nav !important;
                    font-size: 18px;
                    line-height: 20px;
               }
               .search-icon-cla{
                    margin-left: 18px;
                    .search-icon{
                         cursor: pointer;
                         color: $text-nav;
                         font-size: 20px;
                         transition: all 0.5s ease;
                         padding: 20px 18px;
                         &:hover {
                              background-color: $hover-nav;
                         }
                    }
               }
          }
     }
     .sidbar{
         
          .sidbar-1{
               position: fixed;
               z-index: 4;
               right: -15rem;
               transition: all 0.5s ease-in-out;
               background-color: $text-nav;
               overflow: hidden;
               box-shadow: -1px 0 10px 2px rgba(0, 0, 0, 0.5);
          }
     }
.search-input {
     height: 60px;
     padding: 2px 6px;
     margin: 0;
     width: 100%;
     background-color: $text-nav;
     font-size: 18px;
     border: 0;
     border-radius: 0;
    box-shadow: none;
    outline: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    position: absolute;
    z-index: 1;
    top: 65px;
    display: none;
    &:focus {
     background-color: $waite-color
    }
    &::placeholder {
     padding-right: 20px;
    }
}

}


/* jQ bars toggler */
#wrap.toggled .sidbar-1 {
     right: 0rem;
}
